In [2]:
def printSquare(n):
    for i in range(n):
        print("*" * n)

n = 5
printSquare(n)

*****
*****
*****
*****
*****

In [6]:
def printLeftTriangle(n):
    for i in range(1, n+1):
        print("*" * i)
        
n = 5
printLeftTriangle(n)

*
**
***
****
*****

In [9]:
def printLeftTriangleWithNums(n):
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(j, end="")
        print()

n = 5
printLeftTriangleWithNums(n)

1
12
123
1234
12345

In [11]:
def printLeftTriangleWithNums2(n):
    for i in range(1, n+1):
        for j in range(1, i+1):
            print(i, end="")
        print()

n = 5
printLeftTriangleWithNums2(n)

1
22
333
4444
55555

In [17]:
def printReverseLeftTriangle(n):
    for i in range(n, 0, -1):
        print("*" * i)

n = 5
printReverseLeftTriangle(n)

*****
****
***
**
*

In [20]:
def printReverseLeftTriangleWithNums(n):
    for i in range(n, 0, -1):
        for j in range(1, i+1):
            print(j, end="")
        print()

n = 5
printReverseLeftTriangleWithNums(n)

12345
1234
123
12
1

Create formula

- 1 * 2 - 1 = 1
- 2 * 2 - 1 = 3
- 3 * 2 - 1 = 4

Formula = i * 2 - 1

In [26]:
def printTriangle(n):
    for i in range(1, n+1):
        space = " " * (n - i)
        star = "*" * (i * 2 - 1)
        print(space, star)

n = 5
printTriangle(n)

     *
    ***
   *****
  *******
 *********

Create formula
- 5 * 2 - 1 = 9
- 4 * 2 - 1 = 7
- 3 * 2 - 1 = 5

Formula = i * 2 - 1

In [32]:
def printReverseTraingle(n):
    for i in range(n, 0, -1):
        star = "*" * (i * 2 -1)
        space = " " * (n - i)
        print(space, star)

n = 5
printReverseTraingle(n)

 *********
  *******
   *****
    ***
     *

In [36]:
def printTwoTriange(n):
    for i in range(1, n+1):
        space = " " * (n - i)
        star = "*" * (i * 2 - 1)
        print(space, star)
        
    for j in range(n, 0, -1):
        star = "*" * (j * 2 - 1)
        space = " " * (n-j)
        print(space, star)

n = 5
printTwoTriange(n)

     *
    ***
   *****
  *******
 *********
 *********
  *******
   *****
    ***
     *

In [43]:
def printRighArrowTriangle(n):
    for i in range(1, n+1):
        print("*" * i)
        
    for j in range(n-1, 0, -1):
        print("*" * j)

n = 5
printRighArrowTriangle(n)

*
**
***
****
*****
****
***
**
*

# Binary number triangle (Approach one)

In [27]:
def binaryTriangle(n):
    for i in range(1, n+1):
        if i % 2 == 0:
            for j in range(i): # counting start from zero always
                if j % 2 == 0:
                    print(j % 2, end="")
                else:
                    print(j % 2, end="")
            print()
        else:
            for j in range(1, i+1):
                if j % 2 == 0:
                    print(j % 2, end="")
                else:
                    print(j % 2, end="")
            print()

n = 5
binaryTriangle(n)

1
01
101
0101
10101

###  Binary number triangle (Approach two)

In [46]:
def binaryTriangle2(n):
    for i in range(1, n+1):
        if i % 2 == 0:
            for j in range(i):
                print(j % 2, end="")
            print()
        else:
            for j in range(1, i+1):
                print(j % 2, end="")
            print()

n = 5
binaryTriangle2(n)

1
01
101
0101
10101

### Binary number triangle (Approach three)

In [51]:
i = 2
j = 0

print((i+j) % 2)

j = 1
print((i+j) % 2)

j = 2
print((i+j) % 2)

0
1
0

In [48]:
def binaryTriangle3(n):
    for i in range(1, n+1):
        for j in range(i):
            print((i+j) % 2, end="")
        print()

n = 5
binaryTriangle3(n)

1
01
101
0101
10101

# Left right triangle 
- calculate space between two triangle
- n = 5
- 1"23455432"1 (23455432 this are space for first row which is 8
- 12"345543"21 (345543 this are space for second row which is 6

In [61]:
n = 5
i = 1

print((n-i)*2) # 8

i = 2
print((n-i)*2) # 6

8
6

In [79]:
def leftRightTriangle(n):
    for i in range(1, n+1):
        # left side
        for j in range(1, i+1):
            print(j, end="")
            
        # middle space
        space = " " * (n-i) * 2
        print(space, end="")
        
        # right side
        for j in range(i, 0, -1):
            print(j, end="")
            
        print()
        

n = 5
leftRightTriangle(n)

1        1
12      21
123    321
1234  4321
1234554321

# Counting triangle

In [87]:
def countingTriangle(n):
    count = 1
    for i in range(n+1):
        for j in range(i):
            print(count, " ", end="")
            count += 1
        print()

n = 5
countingTriangle(n)

1
2  3
4  5  6
7  8  9  10
11  12  13  14  15

# Patterns in Alphabets

In [13]:
def alphatbeLeftTriangle(n):
    for i in range(1, n+1):
        for j in range(i):
            print(chr(65 + j), end="")
        print()

n = 5
alphatbeLeftTriangle(n)

A
AB
ABC
ABCD
ABCDE

In [14]:
def alphatbeLeftReverseTriangle(n):
    for i in range(n, 0, -1):
        for j in range(i):
            print(chr(65 + j), end="")
        print()

n = 5
alphatbeLeftReverseTriangle(n)

ABCDE
ABCD
ABC
AB
A

In [18]:
def alphatbeTriangle(n):
    num = 65
    for i in range(1, n+1):
        for j in range(i):
            print(chr(num), end="")
        num += 1
        print()

n = 5
alphatbeTriangle(n)

A
BB
CCC
DDDD
EEEEE

In [9]:
def alphaTriangle(n):
    for i in range(1, n+1):
        print(" " * (n-i), end="")
        for j in range(1, i+1):
            print(chr(64 + j), end="")
            
        for k in range(i-1, 0, -1):
            print(chr(64 + k), end="")
        print()

n = 5
alphaTriangle(n)

    A
   ABA
  ABCBA
 ABCDCBA
ABCDEDCBA

In [45]:
def reverseAlphaTriangle(n):
    for i in range(n):
        for j in range(n-i, n+1):
            print(chr(64 + j), end="")
        print()

n = 5
reverseAlphaTriangle(n)

E
DE
CDE
BCDE
ABCDE

In [60]:
def emptySquare(n):
    for i in range(1, n+1):
        for j in range(1, n+1):
            if i == 1 or i == n or j == 1 or j == n:
                print("*", end="")
            else:
                print(" ", end="")
        print()

n = 4
emptySquare(n)

****
*  *
*  *
****